@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --heading-1: 2rem;
    --heading-2: 1.5rem;

    --text-editor-contrast: black;
}

.bn-block-content[data-content-type="heading"] h1 {
    font-size: var(--heading-1);
  }
  
.bn-block-content[data-content-type="heading"] h2 {
font-size: var(--heading-2);
}

.bn-container {
    width: 100%;
}

.ProseMirror.bn-editor.bn-default-styles {
    background-color: white;
}
  
[data-theme="dark"] .ProseMirror.bn-editor.bn-default-styles {
    background-color: #1e1e1e;
}

[data-theme="dark"] {
    --text-editor-contrast: white;
}

.bn-block-group > .bn-block-outer:first-child {
    padding-bottom: 1rem;
}

.bn-container[data-color-scheme=dark] {
    --bn-colors-editor-text: var(--text-editor-contrast) !important; 
}